<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uncontact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Stay.StayDetailActivity"></activity>
        <activity android:name=".GoodsBuy.GoodsBuyPayCompleteActivity" />
        <activity android:name=".GoodsBuy.GoodsBuyPayActivity" />
        <activity android:name=".GoodsBuy.GoodsBuyCartActivity" />
        <activity android:name=".GoodsBuy.GoodsBuyDetailActivity" />
        <activity android:name=".Ride.RidePayCompleteActivity" />
        <activity android:name=".login.member" />
        <activity android:name=".stamp" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.login" />
        <activity android:name=".Res.RestaurantActivity" />
        <activity android:name=".Res.RestaurantDetailActivity" />
        <activity android:name=".Res.ResSelectMenuActivity" />
        <activity android:name=".Res.ResCartActivity" />
        <activity android:name=".Res.ResPayActivity" />
        <activity android:name=".Res.ResPayCompleteActivity" />
        <activity android:name=".TravelActivity" />
        <activity android:name=".Ride.RideActivity" />
        <activity android:name=".Ride.RideCartActivity" />
        <activity android:name=".Ride.RidePayActivity" />
        <activity android:name=".Stay.StayActivity" />
        <activity android:name=".GoodsBuy.GoodsBuyActivity" />
        <activity android:name=".QrCodeActivity" />
        <activity android:name=".map" />

        <meta-data
            android:name="com.naver.maps.map.eu6zrbl386"
            android:value="eu6zrbl386" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>